<mat-card-title>Productos</mat-card-title>
<button mat-stroked-button matTooltip="Agregar producto" (click)="addProduct()">Agregar</button>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  @for (column of displayedColumns; track $index) {
  <ng-container [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element">
      @if (column === 'select') {
        <mat-checkbox
          (change)="toggleSelection(element.id, $event.checked)"
          [checked]="selectedProducts.has(element.id)">
        </mat-checkbox>
      }
      @if(column === 'actions'){
      <mat-icon aria-hidden="false" matTooltip="Editar producto" aria-label="Editar producto"
        (click)="editProduct(element)" fontIcon="edit"></mat-icon>
      <mat-icon aria-hidden="false" matTooltip="Eliminar producto" aria-label="Eliminar producto"
        (click)="deleteProduct(element)" fontIcon="delete"></mat-icon>
      }
      @else if (column !== 'actions') {
      {{ element[column] }}
      }
    </mat-cell>
  </ng-container>
  }

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>