.container {
  display: flex;
  flex-direction: column;
}
:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1vh;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
button{
  margin: 10px;
}
mat-card{
  width: 80vh;
  background-color: gray;
}