<div class="container" [class.is-mobile]="isMobile()">
  <mat-toolbar class="toolbar">
    <div class="toolbar-left">
      <button mat-icon-button >
        <mat-icon (click)="snav.toggle()">menu</mat-icon>
      </button>
    </div>
    <div class="toolbar-right">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <img [src]="user.picture" alt="">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">
          <mat-icon>arrow_back</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [fixedInViewport]="isMobile()" fixedTopGap="56">
      <mat-nav-list>
        @for (nav of fillerNav; track nav) {
        <a mat-list-item [routerLink]="[nav.route]" (click)="snav.close()">{{nav.name}}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>