
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();
// @import '@angular/material/theming';

// $light-primary: mat-palette($mat-indigo);
// $light-accent: mat-palette($mat-pink, A200, A100, A400);
// $light-theme: mat-light-theme($light-primary, $light-accent);

// $dark-primary: mat-palette($mat-blue-grey);
// $dark-accent: mat-palette($mat-lime, A200, A100, A400);
// $dark-theme: mat-dark-theme($dark-primary, $dark-accent);

// .light-theme {
//   @include angular-material-theme($light-theme);
// }

// .dark-theme {
//   @include angular-material-theme($dark-theme);
// }


// Define the theme object.
$panapp-angular-18-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));
html {
  // Emit theme-dependent styles for common features used across multiple components.
  @include mat.core-theme($panapp-angular-18-theme);

  // Emit styles for MatButton based on `$my-theme`. Because the configuration
  // passed to `define-theme` omits typography, `button-theme` will not
  // emit any typography styles.
  @include mat.button-theme($panapp-angular-18-theme);

  // Include the theme mixins for other components you use here.
}
:root {
  @include mat.all-component-themes($panapp-angular-18-theme);
}


html, body { 
  height: 100%; 
  // background-color: var(--mdc-elevated-card-container-color);
}
body { margin: 0; font-family: Roboto, sans-serif; }
* {
  box-sizing: border-box;
}
a, mat-card-title{
  color: white;
}
