
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();


// Define the theme object.
$panapp-angular-18-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));
html {
  // Emit theme-dependent styles for common features used across multiple components.
  @include mat.core-theme($panapp-angular-18-theme);

  // Emit styles for MatButton based on `$my-theme`. Because the configuration
  // passed to `define-theme` omits typography, `button-theme` will not
  // emit any typography styles.
  @include mat.button-theme($panapp-angular-18-theme);

  // Include the theme mixins for other components you use here.
}
:root {
  @include mat.all-component-themes($panapp-angular-18-theme);
}


html, body { 
  height: 100%; 
  // background-color: var(--mdc-elevated-card-container-color);
}
body { margin: 0; font-family: Roboto, sans-serif; }
* {
  box-sizing: border-box;
}
a, mat-card-title{
  color: white;
}
button{
    cursor: pointer;
    margin: 1.5vh 1.5vw;
}
@media screen and (max-width: 768px) {
  mat-header-cell, mat-cell {
    font-size: 13px;
    padding: 6px 8px;
  }

  .action-icons mat-icon {
    font-size: 20px;
  }
}